<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AmandeepSingh/eclipse-workspace/Test">
        <classes>
            <class name="com.automation.Test.TestRunner">
                <methods>
                    <include name="launchBrowser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>